
# Gradle
.gradle/
build/

# Next.js
.next/
coverage/


# Maven
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Node
node_modules/
dist/
.npm

# Build
build/
out/

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo
.project
.classpath
.settings/

# Env
.env
*.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Tests
playwright-report/
test-results/

# Misc
*.bak
*.tmp