services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: gaptextile
      POSTGRES_PASSWORD: password
      POSTGRES_DB: gaptextile
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
