spring:
  datasource:
    url: jdbc:tc:postgresql:16:///test
    driver-class-name: org.testcontainers.jdbc.ContainerDatabaseDriver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate

logging:
  level:
    fr.musicmusic.kidswardrobe: DEBUG
    org.testcontainers: INFO
